<footer class="footer bg-default">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item">
                <a href="https://desarrollandoweb.netlify.app" target="_blank" class="nav-link">
                    Desarrollandoweb
                </a>
            </li>
            <li class="nav-item">
                <a href="#" target="_blank" class="nav-link">
                    Frontend
                </a>
            </li>
            <li class="nav-item">
                <a href="#" target="_blank" class="nav-link">
                    Support
                </a>
            </li>
        </ul>
        <div class="copyright">
            &copy; 
            <a href="#" target="_blank">Desarrollandoweb</a> - Coded by KyruOdioso.
        </div>
    </div>
</footer>